<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eren's Site</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="" type="image/x-icon">
</head>
<body>  
    <nav class="navbar">
        <img src="" style="width: 100px;">
        <h1>Website</h1>
        <ul class="nav-links">
            <li class="dropdown">
                <ul class="dropdown-content">
                    <li><a href="#">merhaba</a></li>
                    <li><a href="#">merhaba2</a></li>
                    <li><a href="#">merhaba3</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">About Me</a>
                <ul class="dropdown-content">
                    <li><a href="#">deneme1</a></li>
                    <li><a href="#">deneme2</a></li>
                    <li><a href="#">deneme3</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Etkinliklerimiz</a>
                <ul class="dropdown-content">
                    <li><a href="#">Etkinlik 1</a></li>
                    <li><a href="#">Etkinlik 2</a></li>
                    <li><a href="#">Etkinlik 3</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Achievements</a>
                <ul class="dropdown-content">
                    <li><a href="#">proje1</a></li>
                    <li><a href="#">proje2</a></li>
                    <li><a href="#">proje3</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Social Media</a>
                <ul class="dropdown-content">
                    <li><a href="#">iletisim1</a></li>
                    <li><a href="#">iletisim2</a></li>
                    <li><a href="#">iletisim3</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</body>
</html>
